PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=

REDIS_HOST=localhost
REDIS_PORT=6379

MAPBOX_ACCESS_TOKEN=
ONESIGNAL_APP_ID=
ONESIGNAL_REST_API_KEY=